<!-- views/fruits/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create a Sin</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
<body>
    <h1>Create a New Sin!</h1>
    <form action="/sins" method="POST">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <div class="checkbox-div">
        <label for="is-deadly">Is it a Deadly sin?</label>
        <input type="checkbox" name="is-deadly" id="isDeadly"/>
      </div>
      <div class="checkbox-div">
        <label for="is-fun">Is it a fun sin?</label>
        <input type="checkbox" name="is-fun" id="isFun"/>
      </div>  
      <label for="best-activity">Best Activity:</label>
      <input type="text" name="bestActivity" id="best-activity"/>
      <label for="worst-Activity">Worst Activity:</label>
      <input type="text" name="worstActivity" id="worst-Activity"/>
      <button type="submit">Add Sin</button>
    </form>
    <a href="/sins/">Back to Sins</a>
  </body>
</html>